<%- include('../partials/boilerplate') %>
    <div class="todo-single">
    <form method="POST" action="/todos/<%= todo.id %>?_method=PUT">
        <input name="title" type="text" value="<%= todo.title %>" placeholder="Title" />
        <input name="category" type="text" value="<%= todo.category %>" placeholder="Category" />
        <input name="description" type="text" value="<%= todo.description %>" placeholder="Description" />
        <input name="status" type="radio" id="to-do" value="To-Do" />
        <label for="to-do">To Do</label>
        <input name="status" type="radio" id="done" value="Done"  />
        <label for="done">Done</label>
        <input type="submit" value="Save" />
    </form>
    </div>
    <div>
        <a href="/todos/"><button>Cancel</button></a>
    </div>

<%- include('../partials/end') %>