<%- include('../partials/boilerplate'); %>
<%- include('../partials/nav'); %>
    <a href="/todos/add" class="button">Add New Todo!</a>
    <div>
        <% for (let todo of data.todos) { %>
            <h3><%= todo.name %></h3>
            <p><%= todo.category %></p>
            <a href="/todos/<%= todo.id %>">Info</a>
            <form method="GET" action="/todos/<%= todo.id %>?_method=PUT">
                <input type="submit" value="EDIT">
            </form>
            <form method="POST" action="/todos/<%= todo.id %>?_method=DELETE">
                <input type="submit" value="DEL">
            </form>
        <% } %>
    </div>
<%- include('../partials/end'); %>